* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

/* navbar */
.navbar {
    background-color: rgb(10, 4, 54);
    color: white;
    overflow: auto;
}

.navbar h1{
    padding: 20px;
    float:left;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.navbar ul{
    float: right;
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.navbar a:hover{
    color: black;
    background-color: aliceblue;
    transition: 1s all;
}